@font-face {
  font-family: 'Patung';
  src: url('./assets/font/Patung.ttf') format('truetype');
}

@font-face {
  font-family: 'SourceSansPro';
  src: url('./assets/font/SourceSansPro-Bold.ttf') format('truetype');
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'SourceSansPro', sans-serif;
}

/* General Section Styling */
section {
  min-height: 100vh; /* Ensure the section is at least the height of the viewport */
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Include padding in height calculations */
}

#about {
  margin: 0;
  padding: 0 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#techstack {
  background-color: #626161;
}

#name {
  font-family: Patung, sans-serif;
  font-size: 60px;
  margin: 0;
}

h3 {
  font-family: SourceSansPro, sans-serif;
  font-size: 40px;
  margin: 0;
}

section {
  margin-bottom: 20px;
}

#position {
  font-family: 'SourceSansPro', sans-serif;
  font-size: 35px;
  margin: 0;
  color : #8200CE;
}
body.dark-theme #position {
  color : #02ABFF;
}

#techstack-title,
#projects-title,
#othertools-title,
#contact-title,
.about-title {
  margin: 0;
  font-family: 'SourceSansPro', sans-serif;
  font-size: 50px;
  text-align: center;
  padding-top: 70px;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  font-family: 'SourceSansPro', sans-serif;
  font-size: 18px;
  color: #fff;
  background-color: #333;
  height: 60px;
}

footer div {
  margin: 0 auto;
}

.scroll-to-top {    
  background-color: #8200CE;  
  color: white;  
  border: none;  
  padding: 10px 15px;  
  border-radius: 15px;  
  cursor: pointer;  
  font-size: 16px;  
  transition: all 0.3s ease;
  margin-left: auto;
}

.scroll-to-top:hover {
  background-color: #6200AA;
  transition: all 0.3s ease;
}

body.dark-theme .scroll-to-top {
  background-color: #02ABFF;
  transition: all 0.3s ease;
}

body.dark-theme .scroll-to-top:hover {
  background-color: #028FCC;
  transition: all 0.3s ease;
}


#othertools {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  list-style: none;
}

ul#othertools li {
  font-size: 18px;
  padding: 10px 15px;
  color: #000;
  border-radius: 5px;
}
body.dark-theme ul#othertools li {
  color: #fff;
}

/* Blinking cursor effect */
#position::after {
  content: "|"; /* The cursor */
  display: inline-block;
  font-weight: bold;
  animation: blink 0.75s steps(2, start) infinite;
  color: #8200CE;
}
body.dark-theme #position::after {
  color: #02ABFF;
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

span {
  font-family: SourceSansPro, sans-serif;
  margin: 0;
  color: #8200CE;
  -webkit-text-stroke: 1px #000;
}

body.dark-theme span {
  color: #02ABFF;
}

.chart-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
  height: 500px;
  margin: 0 auto;
}

/* Responsive Design */

/* Small screens (max-width: 768px) */
@media (max-width: 768px) {
  #about {
    padding: 20px;
    flex-direction: column;
    text-align: center;
  }

  #name {
    font-size: 40px;
  }

  h3 {
    font-size: 30px;
  }

  #position {
    font-size: 25px;
  }

  #techstack-title,
  #projects-title,
  #othertools-title,
  #contact-title,
  .about-title {
    font-size: 40px;
  }

  #othertools {
    flex-direction: column;
    gap: 10px;
  }

  .chart-container {
    width: 90%; /* Adjust width for smaller screens */
    height: auto;
  }
}

/* Extra small screens (max-width: 480px) */
@media (max-width: 480px) {
  #about {
    padding: 10px;
  }

  #name {
    font-size: 30px;
  }

  h3 {
    font-size: 25px;
  }

  #position {
    font-size: 20px;
  }

  #techstack-title,
  #projects-title,
  #othertools-title,
  #contact-title,
  .about-title {
    font-size: 30px;
  }

  #othertools {
    gap: 5px;
  }

  .chart-container {
    width: 100%; /* Full width for extra small screens */
    height: auto;
  }
}



